*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.active{
    text-decoration: none;
    margin-left: -76px;
}
.side-bar{
    display: block;
    transition: all .5s;
}
.button1{
    padding: 5px 10px;
    background-color: blueviolet;
}
.button2{
    padding: 5px 10px; 
    background-color: blueviolet;
}
.color_button{
    width: 10%;
    padding: 1px 10px;
}
.side-bar {
    margin-top: 62px;
    
}
.side-bar a{
    margin:1px;
    text-decoration: none;
    color: grey;
}
